aioredis==2.0.1
arxiv==1.4.2
async-timeout==4.0.2
autosemver==0.5.5
Babel==2.9.1
beautifulsoup4==4.10.0
blis==0.7.5
bs4==0.0.1
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.11
cleo==1.0.0a4
click==8.0.3
crashtest==0.3.1
cryptography==36.0.1
cymem==2.0.6
Deprecated==1.2.13
dulwich==0.19.16
feedparser==6.0.8
hiredis==2.0.0
idna==3.3
inspire-utils==3.0.24
Jinja2==3.0.3
joblib==1.1.0
langcodes==3.3.0
lxml==4.7.1
MarkupSafe==2.0.1
murmurhash==1.0.6
nameparser==0.5.8
nltk==3.6.7
numpy==1.22.1
packaging==21.3
pathy==0.6.1
pdfminer.six==20201018
pptree==3.1
preshed==3.0.6
pycparser==2.21
pydantic==1.8.2
pylev==1.4.0
pyparsing==3.0.7
PyPDF2==1.26.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-magic==0.4.25
python-ulid==1.0.3
pytz==2021.3
redis==4.1.2
redis-om==0.0.17
refextract==1.1.4
regex==2022.1.18
requests==2.27.1
sgmllib3k==1.0.0
six==1.16.0
smart-open==5.2.1
sortedcontainers==2.4.0
soupsieve==2.3.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
thinc==8.0.13
thread6==0.2.0
tqdm==4.62.3
typer==0.4.0
types-redis==4.1.11
types-six==1.16.10
typing-extensions==4.0.1
Unidecode==1.3.2
urllib3==1.26.8
wasabi==0.9.0
wrapt==1.13.3
